<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

    <% @recipes.each do |recipe| %>
      
        <h2><%= recipe.title %></h2>
        <p><%= recipe.method %></p>
        
              
    <% end %>
    <ul>
          <% @recipes.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        
    </ul>


<br>

<%= link_to 'New Recipe', new_recipe_path %>
