<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
        <% ingredient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Old Edit Form for Input %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%# <%= collection_select(:user, :ingredient_id, Ingredient.all, :id, :name) %> %>
    <%# object, object_id, collection, form value1, form value2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
